@using System.Text.RegularExpressions
@using NSS.Website.Models;
@{
    /**/
    ViewBag.Title = "Săn sale Shopee Lazada Tiki và hàng ngàn ưu đãi";
    merchant_list merchant_list = ViewBag.merchant_list;
    List<category> categories = ViewBag.Categorie;
}
<main>
    <div class="hero_single jarallax" data-jarallax-video="https://youtu.be/aR4iSYB_nIY" style="background: #ededed url(/Content/UI/img/bg-meta.jpg) center center no-repeat; ">
        <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-10 col-md-8">
                        <h1>20,000++ Mã Giảm Giá Toàn Sàn</h1>
                        <p>Dán link sản phẩm để tìm kiếm mã giảm giá Shopee, Tiki...</p>
                        <form method="get" action="/tim-ma-giam-gia">
                            <div class="row g-0 custom-search-input">
                                <div class="col-sm-9 col-lg-10">
                                    <div class="form-group">
                                        <input class="form-control no_border_r" name="url" type="text" placeholder="Nhập link sản phẩm để tìm khuyến mãi tốt nhất...">
                                        <i class="fa-solid fa-link"></i>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-lg-2">
                                    <input type="submit" value="Search">
                                </div>
                            </div>
                            <!-- /row -->
                        </form>
                    </div>
                </div>

                <!-- /row -->
            </div>
        </div>
    </div>


    <!-- /Background YouTube Parallax -->
    <div class="bg_gray">
        <div class="container margin_60_40">
            <div class="main_title center">
                <span><em></em></span>
                <h2>Tìm mã theo Sàn</h2>
                <p>Tổng hợp mã giảm giá mới nhất theo sàn TMDT</p>
            </div>
            <!-- /main_title -->
            <div class="owl-carousel owl-theme categories_carousel">
                <div class="item">
                    <a href="/ma-giam-gia/Shopee">
                        <img src="~/Content/uploads/brand/shopee.png" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a href="/ma-giam-gia/Lazada">
                        <img src="~/Content/uploads/brand/lazada.png" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a href="/ma-giam-gia/Tiki">
                        <img src="~/Content/uploads/brand/tiki.png" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a href="/ma-giam-gia/Sendo">
                        <img src="~/Content/uploads/brand/sendo.png" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a href="/ma-giam-gia/Grab">
                        <img src="~/Content/uploads/brand/grab.png" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a href="/ma-giam-gia/Fahasa">
                        <img src="~/Content/uploads/brand/fahasa.png" alt="" class="img-responsive">
                    </a>
                </div>
            </div>
            <!-- /carousel -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_gray -->
    @Html.Partial("~/Views/Shared/Partial/_Categories.cshtml", categories)
    <div class="bg_gray">
        <div class="container margin_60_40">
            <div id="home-copupon">

            </div>
        </div>
        <!-- /container -->
    </div>
    <div class="container margin_60_40">
        <div class="main_title version_2">
            <span><em></em></span>
            <h2>Giới thiệu về Nghiện Săn Sale</h2>
            <p>NghienSanSale.vn</p>
        </div>
        <div class="list_articles add_bottom_25 clearfix">
            <div class="content-widgets frontpage-after-main">
                <aside id="text-3" class="widget widget_text">
                    <b>Chào mừng bạn đến với NghienSanSale.vn - Thiên đường chia sẻ mã giảm giá và khuyến mãi!</b>
                    <br />
                    Chúng tôi luôn miễn phí chia sẻ các mã giảm giá, voucher, thông tin khuyến mãi từ các trang thương mại điện tử hàng đầu ở Việt Nam. Tại đây, bạn dễ dàng tìm thấy những ưu đãi tốt nhất trên thị trường, đồng thời cập nhật những đánh giá và kinh nghiệm mua sắm hữu ích từ cộng đồng.
                    <br />
                    Bạn sẽ dễ dàng tận hưởng các mã giảm giá chất lượng, có thể sử dụng trực tiếp trên website của chúng tôi. Dữ liệu của chúng tôi được cập nhật đa dạng từ các trang thương mại điện tử hàng đầu như Shopee, Lazada, Adayroi, Tiki và nhiều nơi khác. Bên cạnh đó, chúng tôi cũng cập nhật các chương trình khuyến mãi hấp dẫn từ FPT Shop, Nguyễn Kim, Vietravel và nhiều địa chỉ uy tín khác.
                    <br />
                    Tất cả các mã giảm giá và khuyến mãi đều được kiểm tra và dùng thử trước khi đăng tải. Tuy nhiên, do lượng sử dụng có hạn, một số mã giảm giá và chương trình khuyến mãi có thể hết hiệu lực sớm hơn dự kiến. Nếu bạn phát hiện ra bất kỳ mã giảm giá hoặc khuyến mãi nào đã hết hạn, hãy giúp chúng tôi bằng cách đánh giá hoặc để lại bình luận. Điều này giúp chúng tôi cập nhật thông tin mới nhất. Nếu bạn tìm thấy các ưu đãi hay, khuyến mãi hấp dẫn, hãy chia sẻ với chúng tôi. Chúng tôi sẽ đăng và chia sẻ để mọi người cùng biết và sử dụng.
                    <br />
                    Hãy yên tâm, NghienSanSale (https://NghienSanSale.vn/) chỉ chia sẻ thông tin khuyến mãi, mã giảm giá, coupon và voucher hoàn toàn miễn phí. Chúng tôi không bán hàng và không liên quan đến bất kỳ tổ chức hoặc siêu thị thương mại điện tử nào. Đội ngũ NghienSanSale chỉ tìm kiếm thông báo khuyến mãi, mã giảm giá từ các trang thương mại điện tử, sau đó tổng hợp và đăng tải. Chúng tôi mong muốn giúp bạn tiết kiệm thời gian và tiền bạc khi mua sắm trực tuyến.
                    <br />
                    Để có mã giảm giá tại NghienSanSale.VN, bạn chỉ cần truy cập và tìm kiếm theo nhà cung cấp (Shopee, Lazada, Tiki, ...) hoặc chọn theo chuyên mục mặt hàng bạn quan tâm. Để thuận tiện hơn, bạn có thể đăng ký tài khoản và lưu lại các chuyên mục hoặc cửa hàng mà bạn yêu thích.
                    <br />
                    NghienSanSale.VN cam kết cung cấp dịch vụ miễn phí cho cộng đồng, giúp bạn tiết kiệm thời gian và tiền bạc trong quá trình mua sắm trực tuyến.
                    <br />
                    NghienSanSale.VN - Hãy cùng "săn" những mã giảm giá và khuyến mãi tuyệt vời khi mua hàng trên mạng!

                </aside>
            </div>
        </div>
        <!-- /list_articles -->
    </div>
    @*<div class="call_section lazy footer-c" data-bg="url(https://s3.ap-southeast-1.amazonaws.com/adpia.vn/util/multi/20221221/1218_YES_DEC_AFF_1200_x_200.jpg)">
            <div class="container clearfix">
                <div class="col-lg-5 col-md-6 float-end wow">
                    <a href="https://click.adpia.vn/tracking.php?m=lazada&a=A100091693&u_id=&l=5555" class="footer-banner"></a>
                </div>
            </div>
        </div>*@
</main>
@section Scripts {
    <style>
        .wrapper.d-flex.align-items-center.opacity-mask a {
            position: absolute;
            top: 0;
            BOTTOM: 0;
            LEFT: 0;
            RIGHT: 0;
        }
        .footer-c.lazy {
            position: relative;
            background-size: contain;
        }
        a.footer-banner {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .owl-theme.categories_carousel .item a {
            background-color: #fff;
            padding: 33px 20px;
            text-align: center;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
            position: relative;
            margin-bottom: 25px;
        }
    </style>
    <script src="~/Content/js/home.js"></script>
    <link href="~/Content/UI/css/help.css" rel="stylesheet" />
}
