<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3 data-bs-target="#collapse_3">NghienSanSale.vn</h3>
                <div class="collapse dont-collapse-sm contacts" id="collapse_3">
                    <ul>
                        <li>
                            Nơi bạn có thể tìm kiếm, thu thâp Mã Giảm Giá, chương trình Khuyến Mãi, Coupon, Voucher từ các sàn TMDT Tiki Shopee Lazada, mua hàng trực tuyến, dịch vụ online....

                        </li>
                        <li>
                            <img style="width:100%" src="~/Content/images/logo-white.png" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 data-bs-target="#collapse_1">Chuyên Mục Nổi Bật</h3>
                <div class="collapse dont-collapse-sm links" id="collapse_1">
                    <ul class="footer-links">
                        <li><a href="/ma-giam-gia/am-thuc">Ẩm thực</a></li>
                        <li><a href="/ma-giam-gia/dien-tu-and-cong-nghe">Điện tử &amp; Công nghệ</a></li>
                        <li><a href="/ma-giam-gia/dien-tu-gia-dung">Điện tử gia dụng</a></li>
                        <li><a href="/ma-giam-gia/gia-dung-noi-that">Gia dụng &amp; Nội thất</a></li>
                        <li><a href="/ma-giam-gia/me-be">Mẹ &amp; Bé</a></li>
                        <li><a href="/ma-giam-gia/tap-hoa">Tạp hóa</a></li>
                        <li><a href="/ma-giam-gia/do-choi">Đồ chơi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 data-bs-target="#collapse_2">Nhà Cung Cấp Nổi Bật</h3>
                <div class="collapse dont-collapse-sm links" id="collapse_2">
                    <ul class="footer-links">
                        <li><a href="/ma-giam-gia/Shopee">Shopee</a></li>
                        <li><a href="/ma-giam-gia/Lazada">Lazada</a></li>
                        <li><a href="/ma-giam-gia/Tiki">Tiki</a></li>
                        <li><a href="/ma-giam-gia/CellphoneS">CellphoneS</a></li>
                        <li><a href="/ma-giam-gia/Sendo">Sendo</a></li>
                        <li><a href="/ma-giam-gia/FptShop">FptShop</a></li>
                        <li><a href="/ma-giam-gia/Fahasa">Fahasa</a></li>
                        <li><a href="/ma-giam-gia/Grab">Grab</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <h3 data-bs-target="#collapse_4">Keep in touch</h3>
                <div class="collapse dont-collapse-sm" id="collapse_4">
                    <div id="newsletter">
                        <div id="message-newsletter"></div>
                        <form method="post" action="http://www.ansonika.com/foogra/assets/newsletter.php" name="newsletter_form" id="newsletter_form">
                            <div class="form-group">
                                <input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Your email">
                                <button type="submit" id="submit-newsletter"><i class="arrow_carrot-right"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="follow_us">
                        <h5>Follow Us</h5>

                        <ul class="list-inline social-small">
                            <li><a href="https://www.facebook.com/nghiensansalechamvn"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCutjuixDDT1t7ZHhqrAv2CA"><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href="https://www.tiktok.com/@("@")nghiensansalevn"><i class="fa-brands fa-tiktok"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row-->
        <hr>
        <div class="row add_bottom_25">
            <div class="col-lg-6">
                <ul class="footer-selector clearfix">
                    <li><a href="">Terms and conditions</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><span>© NghienSanSale.vn</span></li>
                </ul>
            </div>

        </div>
    </div>
</footer> 