

<div class="col-xl-4 col-lg-5 col-md-5">
    <form method="get" action="/tim-ma-giam-gia">
        <div class="search_bar_list">
            <input type="text" name="url" class="form-control" placeholder="Nhập link sản phẩm để tìm khuyến mãi tốt nhất...">
            <input type="submit" value="Search">
        </div>
    </form>
</div>

